<div class="card-content">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header" data-background-color="red">
                <h4 class="title">Annual Returns for {{companyName}}</h4>
            </div>
            <div class="card-content table-responsive table-full-width">
                <table class="table">
                    <thead class="text-danger">
                    <tr>
                        <th>File name</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Date created</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of annualReturnItems | paginate: { itemsPerPage: itemsPerPage, currentPage: p, totalItems: totalItems }">
                        <td>{{item.name}}</td>
                        <td>{{item.from | date }}</td>
                        <td>{{item.to | date }}</td>
                        <td>{{item.date | date }}</td>
                        <td>
                            <a (click)="download(item.id)" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                Download
                            </a>
                        </td>
                    </tr>
                    <tr *ngIf="annualReturnItems?.length < 1">
                        <td colspan="6" class="empty-list-td">
                            <p>There are no annual returns created for your company</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pagination-container">
                    <pagination-controls class="my-pagination" (pageChange)="pageChanged($event)"
                                         previousLabel="Prev" nextLabel="Next">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-header" data-background-color="red">
                <h4 class="title">Actions</h4>
            </div>
            <div class="card-content table-responsive table-full-width">
                <table class="table cp-action-table">
                    <tbody>
                    <tr>
                        <td>
                            <a routerLink="/en/dashboard/annual_returns/generate" class="btn btn-primary cp-action-btn">
                                Generate annual return
                                <i class="material-icons">arrow_forward</i>
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
