<div class="wizard">
    <div class="card-header wizard-header" data-background-color="purple">
        Create/Add new company
    </div>
    <div class="card-content">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-8">
                    <div class="wizard-side-nav">
                        <ul class="nav nav-pills nav-pills-info nav-stacked nav-wizard">
                            <li [ngClass]="{'active':tab_num=='tab1'}" (click)="showTab(1)">
                                <a href="#tab1" data-toggle="tab" aria-expanded="true">Genera Information</a>
                            </li>
                            <li [ngClass]="{'active':tab_num=='tab2'}" (click)="showTab(2)">
                                <a href="#tab2" data-toggle="tab" aria-expanded="true">Company Dates</a>
                            </li>
                            <li [ngClass]="{'active':tab_num=='tab3'}" (click)="showTab(3)">
                                <a href="#tab3" data-toggle="tab" aria-expanded="true">Share capital</a>
                            </li>
                            <li [ngClass]="{'active':tab_num=='tab4'}" (click)="showTab(4)">
                                <a href="#tab4" data-toggle="tab" aria-expanded="true">Address</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-8">
                    <div class="wizard-form-table">
                        <div class="card">
                            <form #companyForm="ngForm" (ngSubmit)="create()">
                                <div class="card-header actions-card-header text-center" data-background-color="red">
                                    <h4 class="title">Enter company details</h4>
                                </div>
                                <div class="card-content">
                                    <div class="tab1" *ngIf="tab_num=='tab1'">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-static"
                                                     ngClass="{has-errors: company_name.errors }">
                                                    <label for="company_name" class="control-label"
                                                           ngClass="{has-errors: company_name.errors }">Company Name
                                                        *</label>
                                                    <input id="company_name" type="text" class="form-control"
                                                           placeholder="Company name"
                                                           name="company_name" required
                                                           [(ngModel)]="company.company_name" #company_name="ngModel">
                                                    <div *ngIf="company_name.errors && (company_name.dirty || company_name.touched)">
                                                        <label [hidden]="!company_name.errors.required"
                                                               class="label error-message">Company name is
                                                            required</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-static"
                                                     ngClass="{has-errors: company_type_id.errors }">
                                                    <label for="company_type_id" class="control-label"
                                                           ngClass="{has-errors: company_type_id.errors }">Company Type
                                                        *</label>
                                                    <select id="company_type_id" type="text" class="form-control"
                                                            placeholder="Company type"
                                                            name="company_type_id" required
                                                            [(ngModel)]="company.company_type_id"
                                                            #company_type_id="ngModel">
                                                        <option selected="selected" value="">Select company type
                                                        </option>
                                                        <option *ngFor="let type of companyType" value="{{type.id}}">
                                                            {{type.name}}
                                                        </option>
                                                    </select>
                                                    <div *ngIf="company_type_id.errors && (company_type_id.dirty || company_type_id.touched)">
                                                        <label [hidden]="!company_type_id.errors.required"
                                                               class="label error-message">Company type is
                                                            required</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-static"
                                                     ngClass="{has-errors: registration_no.errors }">
                                                    <label for="registration_no" class="control-label">Registration
                                                        number *</label>
                                                    <input id="registration_no" type="text" class="form-control"
                                                           name="registration_no" required
                                                           [(ngModel)]="company.registration_no"
                                                           #registration_no="ngModel">
                                                    <div *ngIf="registration_no.errors && (registration_no.dirty || registration_no.touched)">
                                                        <label [hidden]="!registration_no.errors.required"
                                                               class="label error-message">Registration number is a
                                                            required</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-static"
                                                     ngClass="{has-errors: avg_turn_over.errors }">
                                                    <label for="avg_turn_over" class="control-label">Average Turn Over
                                                        </label>
                                                    <input id="avg_turn_over" type="number" class="form-control"
                                                           name="avg_turn_over" required
                                                           [(ngModel)]="company.avg_turn_over" #avg_turn_over="ngModel">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-static"
                                                     ngClass="{has-errors: email_address.errors }">
                                                    <label for="email_address" class="control-label">Email address
                                                        *</label>
                                                    <input id="email_address" type="email" class="form-control"
                                                           name="email_address" required
                                                           [(ngModel)]="company.email_address" #email_address="ngModel">
                                                    <div *ngIf="email_address.errors && (email_address.dirty || email_address.touched)">
                                                        <label [hidden]="!email_address.errors.required"
                                                               class="label error-message">Email address is a
                                                            required</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-static"
                                                     ngClass="{has-errors: phone_numbers.errors }">
                                                    <label for="phone_numbers" class="control-label">Phone numbers
                                                        *</label>
                                                    <input id="phone_numbers" type="text" class="form-control"
                                                           name="phone_numbers" required
                                                           [(ngModel)]="company.phone_numbers" #phone_numbers="ngModel">
                                                    <div *ngIf="phone_numbers.errors && (phone_numbers.dirty || phone_numbers.touched)">
                                                        <label [hidden]="!phone_numbers.errors.required"
                                                               class="label error-message">A phone number is
                                                            required</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group label-static"
                                                     ngClass="{has-errors: business_activity.errors }">
                                                    <label for="business_activity" class="control-label">Business
                                                        Activity *</label>
                                                    <textarea id="business_activity" class="form-control"
                                                              name="business_activity" required
                                                              [(ngModel)]="company.primary_activity"
                                                              #business_activity="ngModel"></textarea>
                                                    <div *ngIf="business_activity.errors && (business_activity.dirty || business_activity.touched)">
                                                        <label [hidden]="!business_activity.errors.required"
                                                               class="label error-message">Business activity is a
                                                            required</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab2" *ngIf="tab_num=='tab2'">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group label-static"
                                                     ngClass="{has-errors: incorporation_date.errors }">
                                                    <label for="incorporation_date" class="control-label"
                                                           ngClass="{has-errors: incorporation_date.errors }">Incorporation
                                                        date *</label>
                                                    <my-date-picker [options]="myDatePickerOptions"
                                                                    id="incorporation_date" type="date"
                                                                    placeholder="Incorporation date"
                                                                    name="incorporation_date" required
                                                                    [(ngModel)]="myDate.incorporation_date"
                                                                    #incorporation_date="ngModel"
                                                    ></my-date-picker>
                                                    <div *ngIf="incorporation_date.errors && (incorporation_date.dirty || incorporation_date.touched)">
                                                        <label [hidden]="!incorporation_date.errors.required"
                                                               class="label error-message">Incorporation date is
                                                            required</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-static"
                                                     ngClass="{has-errors: accounting_reference_date.errors }">
                                                    <label for="accounting_reference_month" class="control-label"
                                                           ngClass="{has-errors: accounting_reference_date.errors }">Accounting
                                                        reference date *</label>
                                                    <p class="info">Select month</p>
                                                    <select id="accounting_reference_month" type="text"
                                                            class="form-control"
                                                            name="accounting_reference_month"
                                                            [(ngModel)]="company.accounting_reference_month"
                                                            (change)="updateReferenceDays(company.accounting_reference_month)"
                                                            #accounting_reference_month="ngModel">
                                                        <option *ngFor="let month of months; let i = index"
                                                                value="{{i}}">{{month}}
                                                        </option>
                                                    </select>

                                                    <div *ngIf="accounting_reference_month.errors && (accounting_reference_month.dirty || accounting_reference_month.touched)">
                                                        <label [hidden]="!accounting_reference_month.errors.required"
                                                               class="label error-message">Accounting reference month is
                                                            required</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-static"
                                                     ngClass="{has-errors: accounting_reference_day.errors }">
                                                    <label for="accounting_reference_day" class="control-label"
                                                           ngClass="{has-errors: accounting_reference_day.errors }">&nbsp;</label>
                                                    <p class="info">Select day</p>
                                                    <select id="accounting_reference_day" type="text"
                                                            class="form-control"
                                                            name="accounting_reference_day"
                                                            [(ngModel)]="company.accounting_reference_day"
                                                            #accounting_reference_day="ngModel">
                                                        <option *ngFor="let day of referenceDays; let i = index"
                                                                value="{{i}}">{{day}}
                                                        </option>
                                                    </select>


                                                    <div *ngIf="accounting_reference_day.errors && (accounting_reference_day.dirty || accounting_reference_day.touched)">
                                                        <label [hidden]="!accounting_reference_day.errors.required"
                                                               class="label error-message">Accounting reference day is
                                                            required</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-static"
                                                     ngClass="{has-errors: annual_return_month.errors }">
                                                    <label for="annual_return_month" class="control-label"
                                                           ngClass="{has-errors: annual_return_month.errors }">Annual
                                                        return date *</label>
                                                    <p class="info">Select month</p>
                                                    <select id="annual_return_month" type="text" class="form-control"
                                                            name="annual_return_month"
                                                            [(ngModel)]="company.annual_return_month"
                                                            (change)="updateReturnDays(company.annual_return_month)"
                                                            #annual_return_month="ngModel">
                                                        <option *ngFor="let month of months; let i = index"
                                                                value="{{i}}">{{month}}
                                                        </option>
                                                    </select>

                                                    <div *ngIf="annual_return_month.errors && (annual_return_month.dirty || annual_return_month.touched)">
                                                        <label [hidden]="!annual_return_month.errors.required"
                                                               class="label error-message">Month is required</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-static"
                                                     ngClass="{has-errors: annual_return_day.errors }">
                                                    <label for="annual_return_day" class="control-label"
                                                           ngClass="{has-errors: annual_return_day.errors }">&nbsp;</label>
                                                    <p class="info">Select day</p>
                                                    <select id="annual_return_day" type="text" class="form-control"
                                                            name="annual_return_day"
                                                            [(ngModel)]="company.annual_return_day"
                                                            #annual_return_day="ngModel">
                                                        <option *ngFor="let day of returnDays; let i = index"
                                                                value="{{i}}">{{day}}
                                                        </option>
                                                    </select>


                                                    <div *ngIf="annual_return_day.errors && (annual_return_day.dirty || annual_return_day.touched)">
                                                        <label [hidden]="!annual_return_day.errors.required"
                                                               class="label error-message">Day is required</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab3" *ngIf="tab_num=='tab3'">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group label-static"
                                                     ngClass="{has-errors: nominal_share_capital.errors }">
                                                    <label for="nominal_share_capital" class="control-label"
                                                           ngClass="{has-errors: nominal_share_capital.errors }">Nominal/Authorised
                                                        share capital *</label>
                                                    <input id="nominal_share_capital" readonly="readonly" type="number" class="form-control"
                                                           placeholder="Nominal/Authorised share capital"
                                                           name="nominal_share_capital" required
                                                           [ngModel]="company.nominal_share_capital"
                                                           #nominal_share_capital="ngModel">
                                                    <div *ngIf="nominal_share_capital.errors && (nominal_share_capital.dirty || nominal_share_capital.touched)">
                                                        <label [hidden]="!nominal_share_capital.errors.required"
                                                               class="label error-message">Nominal share capital is
                                                            required</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" *ngFor="let share_type of shareTypes;let i = index; let last = last;">
                                            <div class="col-md-6">
                                                <div class="form-group label-static"
                                                     ngClass="{has-errors: number_of_shares.errors }">
                                                    <label for="number_of_shares{{i}}" class="control-label"
                                                           ngClass="{has-errors: number_of_shares.errors }">Total
                                                        {{share_type.name}} *</label>
                                                    <input id="number_of_shares{{i}}" type="number" class="form-control"
                                                           placeholder="Total number of shares period"
                                                           name="number_of_shares" required
                                                           [(ngModel)]="shareTypes[i]['value']"
                                                           (ngModelChange)="updateNominalShareCapital()"
                                                           #number_of_shares="ngModel">
                                                    <div *ngIf="number_of_shares.errors && (number_of_shares.dirty || number_of_shares.touched)">
                                                        <label [hidden]="!number_of_shares.errors.required"
                                                               class="label error-message">Total number of shares is
                                                            required
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 par-value">
                                                <div class="form-group label-static"
                                                     ngClass="{has-errors: par_value.errors }">
                                                    <label for="par_value{{i}}" class="control-label"
                                                           ngClass="{has-errors: par_value.errors }">Par value *</label>
                                                    <input id="par_value{{i}}" type="number"
                                                           class="form-control"
                                                           placeholder="Par value"
                                                           name="par_value" required [(ngModel)]="shareTypes[i]['par_value']"
                                                           (ngModelChange)="updateNominalShareCapital()"
                                                           #par_value="ngModel">
                                                    <div *ngIf="par_value.errors && (par_value.dirty || par_value.touched)">
                                                        <label [hidden]="!par_value.errors.required"
                                                               class="label error-message">Par value is required</label>
                                                    </div>
                                                </div>
                                                <!--<i (click)="removeShareType(i)" class="remove-share-type material-icons">remove_circle</i>-->
                                                <!--<i *ngIf="last" class="add-share-type material-icons">add_circle</i>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab4" *ngIf="tab_num=='tab4'">
                                        <span class="form-divider">Registered office address</span>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group label-static"
                                                     ngClass="{has-errors: ro_building_estate.errors }">
                                                    <label for="ro_building_estate" class="control-label">Building/Estate
                                                        *</label>
                                                    <input id="ro_building_estate" type="text" class="form-control"
                                                           name="ro_building_estate" required
                                                           [(ngModel)]="company.ro_building_estate"
                                                           #ro_building_estate="ngModel">
                                                    <div *ngIf="ro_building_estate.errors && (ro_building_estate.dirty || ro_building_estate.touched)">
                                                        <label [hidden]="!ro_building_estate.errors.required"
                                                               class="label error-message">Building/Estate is a required
                                                            field</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-static"
                                                     ngClass="{has-errors: ro_road_street.errors }">
                                                    <label for="ro_road_street" class="control-label">Road/Street
                                                        *</label>
                                                    <input id="ro_road_street" type="text" class="form-control"
                                                           name="ro_road_street" required
                                                           [(ngModel)]="company.ro_road_street"
                                                           #ro_road_street="ngModel">
                                                    <div *ngIf="ro_road_street.errors && (ro_road_street.dirty || ro_road_street.touched)">
                                                        <label [hidden]="!ro_road_street.errors.required"
                                                               class="label error-message">Road/Street is a
                                                            required</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group label-static"
                                                     ngClass="{has-errors: ro_land_reference_no.errors }">
                                                    <label for="ro_land_reference_no" class="control-label">LRN/Plot
                                                        number *</label>
                                                    <input id="ro_land_reference_no" type="text" class="form-control"
                                                           name="ro_land_reference_no" required
                                                           [(ngModel)]="company.ro_land_reference_no"
                                                           #ro_land_reference_no="ngModel">
                                                    <div *ngIf="ro_land_reference_no.errors && (ro_land_reference_no.dirty || ro_land_reference_no.touched)">
                                                        <label [hidden]="!ro_land_reference_no.errors.required"
                                                               class="label error-message">Plot number is a
                                                            required</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group label-static"
                                                     ngClass="{has-errors: ro_town_city.errors }">
                                                    <label for="ro_town_city" class="control-label">Town/City *</label>
                                                    <input id="ro_town_city" type="text" class="form-control"
                                                           name="ro_town_city" required
                                                           [(ngModel)]="company.ro_town_city" #ro_town_city="ngModel">
                                                    <div *ngIf="ro_town_city.errors && (ro_town_city.dirty || ro_town_city.touched)">
                                                        <label [hidden]="!ro_town_city.errors.required"
                                                               class="label error-message">Town/City is required</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-static"
                                                     ngClass="{has-errors: ro_postal_address.errors }">
                                                    <label for="ro_postal_address" class="control-label">Postal address
                                                        *</label>
                                                    <input id="ro_postal_address" type="text" class="form-control"
                                                           name="ro_postal_address" required
                                                           [(ngModel)]="company.ro_postal_address"
                                                           #ro_postal_address="ngModel">
                                                    <div *ngIf="ro_postal_address.errors && (ro_postal_address.dirty || ro_postal_address.touched)">
                                                        <label [hidden]="!ro_postal_address.errors.required"
                                                               class="label error-message">Postal address is
                                                            required</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group label-static"
                                                     ngClass="{has-errors: ro_postal_code.errors }">
                                                    <label for="ro_postal_code" class="control-label">Postal code
                                                        *</label>
                                                    <input id="ro_postal_code" type="text" class="form-control"
                                                           name="ro_postal_code" required
                                                           [(ngModel)]="company.ro_postal_code"
                                                           #ro_postal_code="ngModel">
                                                    <div *ngIf="ro_postal_code.errors && (ro_postal_code.dirty || ro_postal_code.touched)">
                                                        <label [hidden]="!ro_postal_code.errors.required"
                                                               class="label error-message">Postal code is a required
                                                            field</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="form-divider">Other address</span>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group label-static">
                                                    <label for="o_building_estate" class="control-label">Building/Estate
                                                        *</label>
                                                    <input id="o_building_estate" type="text" class="form-control"
                                                           name="o_building_estate"
                                                           [(ngModel)]="company.o_building_estate">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-static">
                                                    <label for="o_road_street" class="control-label">Road/Street
                                                        *</label>
                                                    <input id="o_road_street" type="text" class="form-control"
                                                           name="o_road_street"
                                                           [(ngModel)]="company.o_road_street">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group label-static">
                                                    <label for="o_land_reference_no" class="control-label">LRN/Plot
                                                        number *</label>
                                                    <input id="o_land_reference_no" type="text" class="form-control"
                                                           name="o_land_reference_no"
                                                           [(ngModel)]="company.o_land_reference_no">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group label-static">
                                                    <label for="o_town_city" class="control-label">Town/City *</label>
                                                    <input id="o_town_city" type="text" class="form-control"
                                                           name="o_town_city"
                                                           [(ngModel)]="company.o_town_city">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-static"
                                                     ngClass="{has-errors: o_postal_address.errors }">
                                                    <label for="o_postal_address" class="control-label">Postal address
                                                        *</label>
                                                    <input id="o_postal_address" type="text" class="form-control"
                                                           name="o_postal_address"
                                                           [(ngModel)]="company.o_postal_address">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group label-static">
                                                    <label for="o_postal_code" class="control-label">Postal code
                                                        *</label>
                                                    <input id="o_postal_code" type="text" class="form-control"
                                                           name="o_postal_code"
                                                           [(ngModel)]="company.o_postal_code">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="button" *ngIf="tab_num!='tab4' && tab_num !='tab1'"
                                            (click)="showPrevTab()" class="btn btn-prev">
                                        &nbsp;<i class="material-icons">fast_rewind</i>
                                        Previous
                                    </button>
                                    <button type="button" *ngIf="tab_num!='tab4'" (click)="showNextTab()"
                                            class="btn btn-next">
                                        Next
                                        &nbsp;<i class="material-icons">fast_forward</i>
                                    </button>
                                    <button type="submit" *ngIf="tab_num=='tab4'" class="btn btn-next">
                                        Save
                                        &nbsp;<i class="material-icons">save</i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header actions-card-header" data-background-color="red">
                    <h4 class="title text-center">Actions</h4>
                </div>
                <div class="card-content table-responsive table-full-width">
                    <table class="table cp-action-table">
                        <tbody>
                        <tr>
                            <td>
                                <a routerLink="/en/dashboard/home" class="btn btn-primary cp-action-btn text-center">
                                    Return to dashboard
                                    <!--<i class="material-icons">arrow_backward</i>-->
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

