.shareholder-status-selector{
    position: relative;
    float: right;
    bottom: 60px;
    right:25px;
}

.shareholder-status-selector .checkbox label{
    color: #fff;
}

th{
    padding-left: 10px;
}

.card{
    position: relative;
    z-index: 0 !important;
}

.dropdown-menu>li>a{
    position: relative;
    z-index: 10000;
}

.dropdown .btn{
    margin-top: 0;
    margin-bottom: 0;
}
.share-status{
    font-size: 14px;
    font-weight: 400;
}

.card .card-header .category{
    color: rgba(255,255,255,1);
}
